In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/Users/jordan/miniforge3/envs/py39/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [26]:
# Import data
file = 'search_results_principal.csv'
df = pd.read_csv(file)

In [36]:
df.head()

,Employee Name,Job Title,Base Pay,Overtime Pay,Other Pay,Benefits,Total Pay & Benefits,Notes,Agency,Status
0,Vache Mahseredjian,"Principal Investment Officer, Lacera",471844.0,0.0,53977.0,150089.0,675910.0,None,Los Angeles County Employees Retirement Associ...,NaN
1,John Mc Clelland,"Principal Investment Officer, Lacera",433618.0,0.0,50354.0,145655.0,629627.0,None,Los Angeles County Employees Retirement Associ...,NaN
2,James Rice,"Principal Investment Officer, Lacera (Uc)",397165.0,0.0,43577.0,169728.0,610470.0,None,Los Angeles County Employees Retirement Associ...,NaN
3,Edward Wright,"Principal Investment Officer, Lacera (Uc)",381102.0,0.0,36340.0,127689.0,545131.0,None,Los Angeles County Employees Retirement Associ...,NaN
4,Christopher Wagner,"Principal Investment Officer, Lacera (Uc)",364776.0,0.0,48001.0,124521.0,537298.0,None,Los Angeles County Employees Retirement Associ...,NaN

In [39]:
df.loc[df['Employee Name'] == 'Alberto Lopez']

,Employee Name,Job Title,Base Pay,Overtime Pay,Other Pay,Benefits,Total Pay & Benefits,Notes,Agency,Status
999,Alberto Lopez,"Principal Transportation Engineer, Caltrans",150138.04,0.0,0.0,72821.31,222959.35,None,State of California,NaN

In [45]:
df.iloc[997]

Employee Name                 Ciara Barnett
 Job Title               PRINCIPAL ENGINEER
 Base Pay                          152766.0
 Overtime Pay                        2085.0
 Other Pay                          10552.0
 Benefits                           57582.0
 Total Pay & Benefits              222985.0
 Notes                                 None
 Agency                  Los Angeles County
 Status                                 NaN
Name: 997, dtype: object

In [28]:
df.columns

Index(['Employee Name', ' Job Title', ' Base Pay', ' Overtime Pay',
       ' Other Pay', ' Benefits', ' Total Pay & Benefits', ' Year', ' Notes',
       ' Agency', ' Status'],
      dtype='object')

In [29]:
df.shape

(1001, 11)

In [30]:
df.value_counts(' Year')

 Year
2020.0    1000
dtype: int64

In [31]:
# Drop Year column because the values are the same
df.drop([' Year'], inplace=True, axis=1)

In [32]:
df.value_counts(' Status')

 Status
FT    239
PT      3
dtype: int64

In [35]:
df[' Status'].isna().sum()

### A lot of missing data for status

759

In [49]:
title = ['Principal']

In [58]:
principals = df[' Job Title'].isin(title)

df[principals]#.value_counts(' Agency')
df[principals].describe()

,Base Pay,Overtime Pay,Other Pay,Benefits,Total Pay & Benefits
count,86.000000,86.000000,86.000000,86.000000,86.000000
mean,165987.325000,412.236395,7494.500000,72882.935349,246776.996744
std,27004.742825,1650.524575,6858.273261,47190.406549,38181.843797
min,109255.000000,0.000000,0.000000,29772.460000,223030.740000
25%,150541.022500,0.000000,3315.000000,51496.135000,225156.435000
50%,161021.775000,0.000000,6438.410000,60305.660000,232757.990000
75%,181800.645000,0.000000,10217.750000,69259.197500,250439.985000
max,229369.000000,8500.000000,43488.000000,246591.580000,426985.120000

Employee Name             object
 Job Title                object
 Base Pay                float64
 Overtime Pay            float64
 Other Pay               float64
 Benefits                float64
 Total Pay & Benefits    float64
 Notes                    object
 Agency                   object
 Status                   object
dtype: object