In [33]:
import pandas as pd
import numpy as np

file = 'search_results_superintendent_1.csv'
df = pd.read_csv(file)
df.head()

,Employee Name,Job Title,Base Pay,Overtime Pay,Other Pay,Benefits,Total Pay & Benefits,Year,Notes,Agency,Status
0,James Hammond,Superintendent,355285.00,0.0,197112.00,167573.00,719970.00,2020.0,None,Ontario-Montclair,NaN
1,Craig M Guensler,Superintendent,233539.86,0.0,10099.42,342424.16,586063.44,2020.0,None,Wheatland Union High,NaN
2,Michael Lin,Superintendent,398979.02,0.0,57050.69,80208.48,536238.19,2020.0,None,Corona-Norco Unified,NaN
3,Joel Lee Kinnamon,Superintendent/President,399006.00,0.0,60457.00,66557.00,526020.00,2020.0,None,College of the Desert,NaN
4,Mary E Streshly,Superintendent,192784.38,0.0,259544.88,66560.32,518889.58,2020.0,None,Sequoia Union High,NaN

In [34]:
df.columns

Index(['Employee Name', ' Job Title', ' Base Pay', ' Overtime Pay',
       ' Other Pay', ' Benefits', ' Total Pay & Benefits', ' Year', ' Notes',
       ' Agency', ' Status'],
      dtype='object')

In [35]:
df[' Job Title'].value_counts()

Superintendent                                          435
Assistant Superintendent                                 68
Deputy Superintendent                                    52
Associate Superintendent                                 23
Superintendent/President                                 21
                                                       ...
Assistant Superintendent Student Support Services         1
Assistant Superintendent-Bsvc                             1
Assistant Superintendent, Pupil Services &amp; Selpa      1
Assistant Superintendent-Edser                            1
Assistant Superintendent Of Instructional Services        1
Name:  Job Title, Length: 255, dtype: int64

In [36]:
df[' Job Title'].unique()

array(['Superintendent', 'Superintendent/President',
       'Superintendent Of Schools', 'District Superintendent',
       'Superintendent President', 'President/Superintendent',
       'County Superintendent Of Schl', 'Superintendent-President',
       'Deputy Superintendent, Business Services And Operations',
       'General Superintendent', 'Associate Superintendent',
       'County Superintendent/Schools', 'Assistant Superintendent Moft',
       'Deputy Superintendent - 2302', 'Street Tree Superintendent',
       'State Park Superintendent Iii', 'Associate Superintendent - Cbo',
       'State Park Superintendent V', 'Shops Superintendent',
       'Deputy Superintendent Of Business Services',
       'Assistant Superintendent',
       'President/Superintendent Chief Executive Officer',
       'Water Utility Superintendent', 'Deputy Superintendent',
       'A Superintendent', 'Superintendent, Deputy',
       'Superintendent/Presi', 'Superintendent-Cert',
       'Interim Superintendent', 'Deputy Superintendent Of Building I',
       'Electrical Superintendent', 'Deputy Superintendent, Busines',
       'Asst. Superintendent Business',
       'Associate Superintendent, Business Services',
       'Vice President, Academic Affairs/Asst Superintendent',
       '2900 Superintendent', 'Assistant Superintendent-Business',
       'Assistant Superintendent Education Services',
       'Chief Personnel Officer/Associate Superintendent',
       'Vp Hr/Asst Superintendent',
       'Assistant Superintendent Human Resource',
       'Asst Superintendent Human Resc',
       'Senior Maintenance Superintendent',
       'Street Services General Superintendent Ii',
       '5043 Deputy Superintendent',
       'Street Services General Superintendent I',
       'Interim Superintendent/President', 'County Superintendent',
       'Asst. Superintendent/Vice Pres',
       'Vice President, Student Services/Assistant Superintendent',
       'Assistant Superintendent-Admin', 'Assist Superintendent-Ed Servi',
       'Associate Superintendent, School Climate, Culture And Safety',
       'Operations &amp; Maintenance Superintendent',
       'Building Construction And Maintenance General Superintendent Ii',
       'Superintendent/Principal', 'Deputy Superintendent,Business',
       'Shift Superintendent Wastewater Treatment Ii',
       'Asst Superintendent,Pr Sv', 'Equipment Superintendent',
       'Local District Superintendent', 'Aa746 : Superintendent',
       'Airport Superintendent Of Operations Ii',
       'Public Works Superintendent', 'Power Generation Superintendent',
       'Associate Superintendent, Human Resources',
       'Superintendent Of Parks &amp; Golf',
       'Asst. Superintendent Bus. Svc.', 'Asst Superintendent Bsn Servs',
       'Assistant Superintendent Of Op', 'Assistant Superintendent Of Bu',
       'Electric Operations Superintendent',
       'Assistant Superintendent Innovation And Instructional Services',
       'Ast Superintendent Ed Services', 'President / Superintendent',
       'Park Superintendent', 'Superintendent Of Libraries',
       'Building Construction And Maintenance Superintendent',
       'Asst To Superintendent -Dist.',
       'Assistant Superintendent, Ed Services',
       'County Superintendent Of Schs', 'Associate Superintendent, Sps',
       'Assistant Superintendent - Education Services',
       'Assistant Superintendent - Human Resources',
       'Superintendent Of Public Works Operations',
       'Assistant Superintendent Personnel Services',
       'Assistant Superintendent Of Operations',
       'Superintendent, Asst Business', 'Deputy Superintendent, Educati',
       'Assistant Superintendent - Business Services',
       'Superintendent Of Recreation And Parks Operations',
       'Assistant Superintendent-Business Services',
       'Asst Superintendent-Business', 'Assist Superintendent - Admin',
       'Airport Superintendent Of Operations Iii',
       'Superintendent Of Building',
       'Assistant Superintendent Business Services',
       'Assistant Superintendent Educational Services',
       'Superintendent, Probation',
       'Assistant Superintendent, Human Resources',
       'Water Treatment Superintendent', 'Deputy Superintendent-12',
       'Assistant Deputy Superintendent Of Building Ii',
       'Deputy Superintendent/Cbo', 'Street Superintendent',
       'Vice President Instruction/Assistant Superintendent',
       'Assist Superintendent - Hr',
       'Assistant Superintendent Student Support Services',
       'Airports Maintenance Superintendent',
       'Assistant Superintendent-Bsvc',
       'Assistant Superintendent, Pupil Services &amp; Selpa',
       'Assistant Superintendent-Edser', 'Assistant Superintendent Bus.',
       'Associate Superintendent, Educational Services',
       'Acting Asst Superintendent/Vp', 'Associate Superintendent, Huma',
       'State Park Superintendent Ii', 'Assist Superintendent - Is',
       'Assistant Superintendent Hr',
       'Shift Superintendent Wastewater Treatment I',
       'Asst Superintendent-', 'Laboratory Superintendent',
       'Associate Superintendent, Inno', 'Assoc Superintendent',
       'Superintendent Of Pardee', 'Signal Systems Superintendent',
       'Assist Superintendent', 'Assist Superintendent Bus Svcs',
       'Dist Deputy Superintendent', 'Assistant Superintendent Cl',
       'Associate Superintendent - Human Resources',
       'Asst Superintendent/Personnel', 'Street Services Superintendent',
       'Asst. Superintendent', 'Asst Superintendent, Inst',
       'O&amp;M Superintendent', 'Facilities &amp; Field Superintendent',
       'Assistant Superintendent - Hr',
       'Assistant Superintendent Instruction/Curriculum',
       'Field Operations Superintendent', 'Assistant Superintendent, Hr',
       'Superintendent Of Aqueduct', 'Street Services Superintendent I',
       'Maintenance Superintendent', 'Assistant Superintendent-Curri',
       'Environmental Compliance Superintendent', 'Water Superintendent',
       'Associate Superintendent, Selp', 'Superintendent/Clo',
       'Assistant Superintendent, Business Services-Interim',
       'Asst Superintendent Special Ed', 'Asst. Superintendent-Selpa',
       'Asst Superintendent', 'Street Tree Superintendent I',
       'Plant Maint Superintendent',
       'Vice President Student Services/Assistant Superintendent',
       'Assistant Superintendent Admin', 'Asst Superintendent-Bus Serv',
       'Utilities Electric Superintendent',
       'Assistant Superintendent Of Ed', 'Assist. Superintendent/Busines',
       'Superintendent Of Community Services',
       'Assistant Superintendent Human Resources',
       'Hydroelectric Plant Operations Superintendent',
       'Utilities Water Superintendent',
       'Plant Operations Superintendent',
       'Assistant Superintendent-Edsvc',
       'Assistant Superintendent Business',
       'Asst Superintendent Ed Options', 'Asst Superintendent Bus Svs',
       'Assistant Superintendent, Human Resources Dev.',
       'Asst Superintendent-Hr', 'SUPERINTENDENT',
       'Street Services Superintendent Ii', 'General Srvc Superintendent',
       'Superintendent*', 'Asst Superintendent-Ed Service',
       'Assist Superintendent, Prob',
       'Assistant Power Production Superintendent',
       'Asst Superintendent Bus Serv', 'Asst Superintendent-Ed Serv',
       'Assistant Superintendent, Early Learning Services',
       'Asst Superintendent Of Facilit',
       'Superintendent Of Maintenance Sv',
       'Assistant Superintendent Of Business Services',
       'Assist Superintendent - Educat',
       'Assistant Superintendent Ed Services',
       'Asst Superintendent-Spl Educ', 'Associate Superintendent-Bussv',
       'Water Quality Superintendent', 'Gas Systems Superintendent',
       'Assistant Superintendent Instr',
       'Asst Superintendent-Business Services',
       'Network Superintendent Hs',
       'Site Superintendent, School For The Deaf',
       'Water And Sewer Superintendent', 'Principal Superintendent',
       'Assistant Superintendent, Pers', 'Asst. Superintendent, Ele Sch',
       'Superintendent - Building And Safety',
       'Water Utility Distribution Superintendent',
       'Watershed Rescs Superintendent', 'Assistant Superintendent-Sped',
       'Community Serv Superintendent', 'Superintendent/District Admin',
       'Recreation Services Superintendent',
       'Assistant Superintendent, Educational Service',
       'Asst Superintendent Bus &amp; Ops', 'Superintendent, Assistant',
       'Asst Superintendent-Educ Serv', 'Superintendent Community',
       'Construction Superintendent', 'Assist Superintendent - Hr/Stu',
       'Network Superintendent Pre-K5', 'Assist. Superintendent',
       'Associate Superintendent Selpa',
       'Water Utility Operations Superintendent',
       'Asso Superintendent Es', 'Elec Utility Superintendent',
       'Assistant Superintendent Of Bo', 'Asst Superintendent - Human Re',
       'Street Tree Superintendent Ii', 'Asst Superintendent Admin Svc',
       'Chief Of Staff To The Superintendent',
       'Environmental Utilities Maintenance Superintendent',
       'District Superintendent Ii, Department Of Parks And Recreation',
       'Water Reclamation Operations Superintendent',
       'Asst. Superintendent Of Educat', 'Pw Superintendent',
       'Distribution System Superintendent',
       'Fleet Services Superintendent', 'Public Services Superintendent',
       'Assistant Superintendent, Ed. Services',
       'State Park Superintendent Iv', '2021 Assistant Superintendent Hr',
       '3002 Asst Superintendent Cert', 'Chief Deputy Superintendent',
       'Assistant Superintendent Cbo', 'Acting Superintendent',
       'Water Operations Superintendent',
       'Assistant Superintendent/Admin', 'Superintendent-1',
       'Assistant Superintendent- Hr', 'Asst Superintendent Ed Svc',
       'Water Systems Operations Superintendent',
       'Superintendent Facilities Ops', 'Asst Superintendent Aqueduct',
       'Superintendent-District', 'Assistant Superintendent, Sss',
       'Operations Superintendent',
       'General Superintendent - Development Services',
       'Associate Superintendent - Curriculum',
       'Utility Maintenance Superintendent',
       'Administrative Services Assistant Superintendent',
       'Assistant Superintendent Of Instructional Services', nan],
      dtype=object)

In [37]:
titles = ['Superintendent', 'Superintendent/President',
       'Superintendent Of Schools', 'District Superintendent',
       'Superintendent President', 'President/Superintendent',
       'County Superintendent Of Schl', 'Superintendent-President', 'Superintendent-District']

df = df[df[' Job Title'].isin(titles)]
df.drop(columns= ' Job Title', axis=1, inplace=True)
df.shape

(490, 10)

In [38]:
df.columns

Index(['Employee Name', ' Base Pay', ' Overtime Pay', ' Other Pay',
       ' Benefits', ' Total Pay & Benefits', ' Year', ' Notes', ' Agency',
       ' Status'],
      dtype='object')

In [39]:
df.value_counts(' Notes')

 Notes
None    490
dtype: int64

In [40]:
df.drop(columns= ' Notes', axis=1, inplace=True)

In [41]:
df[' Year'].value_counts()

2020.0    490
Name:  Year, dtype: int64

In [42]:
df.drop(columns= ' Year', axis=1, inplace=True)

In [43]:
df.columns

Index(['Employee Name', ' Base Pay', ' Overtime Pay', ' Other Pay',
       ' Benefits', ' Total Pay & Benefits', ' Agency', ' Status'],
      dtype='object')

In [47]:
df.value_counts(' Status')

Series([], dtype: int64)

In [48]:
df.dtypes

Employee Name             object
 Base Pay                float64
 Overtime Pay            float64
 Other Pay               float64
 Benefits                float64
 Total Pay & Benefits    float64
 Agency                   object
 Status                   object
dtype: object

In [51]:
df[' Status'].isna().sum()

490

In [71]:
df

,Employee Name,Base Pay,Overtime Pay,Other Pay,Benefits,Total Pay & Benefits,Agency,Status
0,James Hammond,355285.00,0.0,197112.00,167573.00,719970.00,Ontario-Montclair,NaN
1,Craig M Guensler,233539.86,0.0,10099.42,342424.16,586063.44,Wheatland Union High,NaN
2,Michael Lin,398979.02,0.0,57050.69,80208.48,536238.19,Corona-Norco Unified,NaN
3,Joel Lee Kinnamon,399006.00,0.0,60457.00,66557.00,526020.00,College of the Desert,NaN
4,Mary E Streshly,192784.38,0.0,259544.88,66560.32,518889.58,Sequoia Union High,NaN
...,...,...,...,...,...,...,...,...
984,Daniel E Moore,171437.52,0.0,7500.00,46002.28,224939.80,Banta Unified,NaN
986,Cheryl L Olson,186381.54,0.0,0.00,38463.54,224845.08,Rescue Union Elementary,NaN
989,Matthew Reno,171531.54,0.0,14221.80,38898.40,224651.74,Alexander Valley Union Elementary,NaN
995,Carol Lynne Hume,174545.00,0.0,420.00,48709.22,223674.22,Coastline ROP,NaN
997,Shannon M Sanford,178585.00,0.0,4800.00,40212.00,223597.00,Stanislaus Union Elementary,NaN

In [72]:
df['Employee Name'].iloc[1]

'Craig M Guensler'

In [79]:
df[df['Employee Name'] == 'Craig M Guensler']

,Employee Name,Base Pay,Overtime Pay,Other Pay,Benefits,Total Pay & Benefits,Agency,Status
1,Craig M Guensler,233539.86,0.0,10099.42,342424.16,586063.44,Wheatland Union High,NaN
332,Craig M Guensler,233539.86,0.0,10099.42,49392.44,293031.72,Wheatland School District,NaN

In [80]:
df[df['Employee Name'] == 'Not Provided']

,Employee Name,Base Pay,Overtime Pay,Other Pay,Benefits,Total Pay & Benefits,Agency,Status
48,Not Provided,310000.00,0.0,18500.00,70866.00,399366.00,Glendale Unified,NaN
271,Not Provided,134238.15,0.0,150228.55,20443.45,304910.15,Hayward Unified,NaN
345,Not Provided,227718.66,0.0,6000.00,57150.11,290868.77,Lincoln Unified,NaN

In [ ]:
# Drop status 
# Remove duplicate rows
# Combine base pay + overtime pay
# consider deleting benefits